body
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#flag
{
    width: 100%;
}

.gamescreen
{
    background-color: var(--secondary_color);
    width: 30%;
    height: 80vh;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}